.home-sublist-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 1em;
  row-gap: 1em;
}
.home-sublist-item {
  position: relative;
  height: 200px;
}

/* 기업 네모 상자 */
.home-sublist-item .home-sublist-box {
  --border-radius: 0.5rem;

  width: 100%;
  height: 100%;

  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);

  transition-duration: 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;

  perspective: 300px;
}
.home-sublist-box > .home-sublist-box-front,
.home-sublist-box > .home-sublist-box-hover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: var(--border-radius);

  text-align: center;
}
/* 전면부 */
.home-sublist-box > .home-sublist-box-front {
  visibility: visible;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-sublist-box-front img {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;

  transition: all 700ms;
  -webkit-transition: all 700ms;
  -moz-transition: all 700ms;
  -ms-transition: all 700ms;
  -o-transition: all 700ms;
}
.home-sublist-box:hover .home-sublist-box-front img {
  max-height: 70%;
  max-width: 70%;
}
/* 후면부 */
.home-sublist-box > .home-sublist-box-hover {
  visibility: hidden;
  opacity: 0;

  color: white;
  font-family: nixgon-bold;
  font-size: 2em;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 16%);

  transform: var(80%);
  -webkit-transform: var(80%);
  -moz-transform: var(80%);
  -ms-transform: var(80%);
  -o-transform: var(80%);

  --animation-duration: 700ms;
  transition-duration: var(--animation-duration);
  -webkit-transition-duration: var(--animation-duration);
  -moz-transition-duration: var(--animation-duration);
  -ms-transition-duration: var(--animation-duration);
  -o-transition-duration: var(--animation-duration);
}
.home-sublist-box:hover > .home-sublist-box-hover {
  visibility: visible;
  opacity: 1;

  transform: scale(100%);
  -webkit-transform: scale(100%);
  -moz-transform: scale(100%);
  -ms-transform: scale(100%);
  -o-transform: scale(100%);
}

@media screen and (max-width: 1000px) {
  .home-sublist-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .home-sublist-list {
    gap: 0.5em;
  }
  .home-sublist-item {
    height: 120px;
  }

  /* 전면부 이미지 크기 */
  .home-sublist-box-front img {
    max-width: 70%;
  }
  /* 후면부 글자 크기 */
  .home-sublist-box > .home-sublist-box-hover {
    font-size: 1.8em;
  }
}
