/* 제목 세션 */
.home-with-people-title-page {
  padding-bottom: 1em !important;
}

/* 상세보기 */
.home-with-people-detail-page {
  height: 100%;
  max-height: 0;

  overflow: hidden;

  transition: all 1s ease-in-out;
  border: none;
}
.open-height {
  max-height: 350px;
}
.home-with-people-detail {
  position: relative;
  height: 350px;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: black;
  font-size: 1.2em;

  border-radius: 0.5em;
  background-color: white;
}
/* .open-height .home-with-people-detail {
  border: 1px solid var(--color-gray);
} */

/* 닫기 버튼 */
.home-with-people-detail-close-btn {
  position: absolute;
  top: 1.2rem;
  right: 2rem;

  color: var(--color-dark-blue);
  font-size: 1.5rem;

  cursor: pointer;

  transition: color 300ms;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
}
.home-with-people-detail-close-btn:hover {
  color: var(--color-light-blue);
}

/* 사진 */
.home-with-people-detail-img {
  width: 200px;
  height: fit-content;
  max-height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  overflow: hidden;
}
.home-with-people-detail-img img,
.home-with-people-detail-img svg {
  width: 100% !important;
  height: auto;

  color: gray;
  border-radius: 0.5em;
}

/* 내용 */
.home-with-people-detail-content {
  width: 100%;
  height: calc(350px - 8rem);
  margin-left: 2em;

  font-size: 0.9em;
  line-height: 2em;

  overflow-y: auto;
}
.home-with-people-detail-content::-webkit-scrollbar {
  width: 5px;
}

/* 정보 */
.home-with-people-detail-info {
  margin-bottom: 0.7em;
}

.home-with-people-detail-info > span:first-child {
  font-size: 1.6em;
  font-family: nixgon-bold;
}
.home-with-people-detail-info > span:last-child {
  font-family: nixgon-light;
}

.home-with-people-detail-text {
}

/* 전체 리스트 */
.home-with-people-page {
  padding-top: 1em !important;
}
.home-with-people-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1em;
  column-gap: 1em;
}

/* 리스트 각각 */
.home-with-people {
  display: flex;
  flex-direction: row;

  padding: 2em 1.4em;

  border-radius: 0.5em;
  background-color: white;
  cursor: pointer;

  --trasnition-time: 500ms;
  transition: all var(--trasnition-time);
  -webkit-transition: all var(--trasnition-time);
  -moz-transition: all var(--trasnition-time);
  -ms-transition: all var(--trasnition-time);
  -o-transition: all var(--trasnition-time);
}
.home-with-people:hover {
  background: rgba(255, 255, 255, 0.6);
}
.no-hover {
  cursor: default;
}
.no-hover:hover {
  background-color: white;
}

/* 현재 선택된 사람 */
.home-with-people-wrapper .cur-people {
  color: white !important;
  background-color: var(--color-light-blue2);
  /* background-color: var(--color-dark-blue) !important; */
}
.home-with-people-wrapper .cur-people .home-with-people-img {
  color: white;
}

/* 이미지 */
.home-with-people-img {
  width: 170px;
  height: 150px;

  color: gray;

  border-radius: 0.5em;
  overflow: hidden;

  text-align: center;
}
.home-with-people-img img {
  width: auto;
  height: 100%;
  margin: 0 -50%;
}
.home-with-people-img svg {
  width: 100% !important;
  height: 100% !important;
}

/* 정보 */
.home-with-people-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  margin-left: 1em;

  text-align: center;
  line-height: 1.5em;
}
.home-with-people-info > h2 {
  margin-bottom: 0.3em;
}
.home-with-people-info * {
  word-break: break-all !important;
}

/* 반응형 */
@media screen and (max-width: 1150px) {
  .home-with-people-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .home-with-people-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .home-with-people-detail {
    border-radius: 0;
  }
}

@media screen and (max-width: 700px) {
  .home-with-people-page {
    padding: 1em 0 3rem 0 !important;
  }

  .open-height {
    max-height: 1000px;
  }

  .home-with-people-wrapper {
    display: flex;
    overflow-x: auto;
    padding: 0 2rem;
  }
  /* 스크롤바 */
  .home-with-people-wrapper::-webkit-scrollbar {
    height: 0;
  }

  .open-height {
    max-height: 500px;
  }
  .home-with-people-detail {
    flex-direction: column;
    height: 500px;
    padding: 2rem 1rem !important;
  }
  .home-with-people-detail-content::-webkit-scrollbar {
    width: 0;
  }

  .home-with-people-detail-info {
    text-align: center;
  }
  .home-with-people-detail-img {
    max-height: 150px;
  }
  .home-with-people-detail-img img,
  .home-with-people-detail-img svg {
    width: auto !important;
    height: 100%;
  }
  .home-with-people-detail-content {
    margin: 1.5em 0 0 0;
    height: calc(100% - 4rem);
  }

  .home-with-people {
    padding: 1em;
    flex-direction: column;
    align-items: center;
  }
  .home-with-people-img {
    width: 100px;
    height: 130px;
  }
  .home-with-people-info {
    margin: 1em 0 0 0;
  }
}
