.guest-comment input,
.guest-comment textarea,
.guest-comment-enroll-btn {
  height: 3em;

  padding: 0 2em;
  position: relative;

  border: 1px solid var(--color-gray);
  border-radius: 4em;

  font-size: 1em;
}

.guest-comment input:focus {
  outline: none;
}

/* 방명록 입력창 */
.guest-comment-enroll textarea {
  width: 100%;
  min-height: 3em;

  padding: 0.6em 2em;
  margin: 0.5em 0;

  resize: none;
  vertical-align: middle;
}
/* 학과/이름 입력창 */
.guest-comment-detail-info {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.guest-comment-detail-info input {
  width: 33%;
}
/* 댓글 달기 버튼 */
.guest-comment-enroll-btn {
  width: 100%;
  color: white;
  background-color: var(--color-dark-blue);
  cursor: pointer;

  --animation-duration: 300ms;
  transition: all var(--animation-duration) ease-out;
  -webkit-transition: all var(--animation-duration) ease-out;
  -moz-transition: all var(--animation-duration) ease-out;
  -ms-transition: all var(--animation-duration) ease-out;
  -o-transition: all var(--animation-duration) ease-out;
}
.guest-comment-enroll-btn:hover {
  background-color: var(--color-light-blue);
}

/* 댓글 목록 */
.guest-comment-wrapper {
  width: 100%;
  height: 100%;
}
.guest-comment-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1em 0;
  border-bottom: 1px dotted lightgray;
}
.guest-comment-item-date {
  color: gray;
}
