.company-comment-page {
  position: relative;
}

.guest-comment input,
.guest-comment-enroll-btn {
  height: 3em;
  padding: 0 1em;
  position: relative;

  border: 1px solid var(--color-gray);
  border-radius: 0.5em;
  /* border-radius: 4em; */

  font-size: 1em;
}
.guest-comment input:focus {
  outline: none;
}

/* 방명록 입력창 */
.guest-comment-enroll input {
  width: 100%;
  margin: 0.5em 0;
}
/* 학과/이름 입력창 */
.guest-comment-detail-info {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.guest-comment-detail-info input {
  width: 33%;
}
/* 댓글 달기 버튼 */
.guest-comment-enroll-btn {
  width: 100%;
  margin-bottom: 0.5em;
  color: white;
  background-color: var(--color-dark-blue);

  --animation-duration: 300ms;
  transition: all var(--animation-duration) ease-out;
  -webkit-transition: all var(--animation-duration) ease-out;
  -moz-transition: all var(--animation-duration) ease-out;
  -ms-transition: all var(--animation-duration) ease-out;
  -o-transition: all var(--animation-duration) ease-out;
}
.guest-comment-enroll-btn:hover {
  background-color: var(--color-light-blue);
}

/* 댓글 목록 */
.guest-comment-wrapper {
  width: 100%;
  height: 100%;
}
.guest-comment-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1em 0;
  border-bottom: 1px dotted lightgray;

  transition: background 500ms;
  -webkit-transition: background 500ms;
  -moz-transition: background 500ms;
  -ms-transition: background 500ms;
  -o-transition: background 500ms;
}
.guest-comment-item:hover {
  background-color: var(--color-light-blue2);
}
.guest-comment-item-date {
  color: gray;
  float: right;
}
.guest-comment-item-1 {
  width: 79%;
  word-break: break-all;
}
.guest-comment-item-sub {
  width: 20%;
  word-break: break-all;
}

/* 댓글 목록 */
.comment-index-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 1em;
}
.comment-index-list .current {
  color: white;
  background-color: var(--color-dark-blue);
}
.comment-index-item {
  width: 1.8em;
  height: 1.8em;
  line-height: 1.7em;
  margin: 0 0.5em;

  border: 1px solid var(--color-gray);
  border-radius: 10em;
  background-color: white;

  text-align: center;
  vertical-align: middle;

  cursor: pointer;

  transition: background-color 300ms;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -ms-transition: background-color 300ms;
  -o-transition: background-color 300ms;
}
.comment-index-item:hover:not(.current) {
  background-color: var(--color-light-blue2);
}

@media screen and (max-width: 700px) {
  .guest-comment-detail-info {
    flex-direction: column;
  }
  .guest-comment-detail-info input,
  .guest-comment-enroll input {
    width: 100%;
    margin: 0.1em 0;
    padding: 0 1.5em;
  }
  .guest-comment-item {
    flex-direction: column;
  }
  .guest-comment-item-1 {
    width: 100%;
  }
  .guest-comment-item-sub {
    width: 100%;

    display: flex;
    flex-direction: row;

    font-size: 0.9em;
    color: gray;

    word-break: keep-all;
  }
  .guest-comment-item-date {
    margin-left: auto;
  }
}
