/* 기업 리스트 */
.home-company-list-page {
  position: relative;
}
.home-company-list-page::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url("../../assets/backgrounds/circle-scatter-lightblue.svg")
    center center no-repeat;
  background-size: cover;
  filter: opacity(0.35);
}
.home-company-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 1em;
  row-gap: 1em;
}
.home-company-item {
  position: relative;
  height: 200px;
}

/* 동아리 리스트 */
.home-club-list-page {
  position: relative;
}
.home-club-list-page::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background: url("../../assets/backgrounds/circle-scatter-yellow.svg") center
    center no-repeat;
  background-size: cover;
  filter: opacity(0.3);
}

/* 기업 네모 상자 */
.home-company-item .home-company-box {
  --border-radius: 0.5rem;

  width: 100%;
  height: 100%;

  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);

  transition-duration: 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;

  perspective: 300px;
}
.home-company-box > .home-company-box-front,
.home-company-box > .home-company-box-hover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: var(--border-radius);

  text-align: center;
}
/* 전면부 */
.home-company-box > .home-company-box-front {
  visibility: visible;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-company-box-front img {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
}
/* 후면부 */
.home-company-box > .home-company-box-hover {
  visibility: hidden;
  opacity: 0;

  color: white;
  font-family: gong-gothic;
  font-size: 2.5em;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 16%);

  --animation-scale: 80%;
  transform: var(--animation-scale);
  -webkit-transform: var(--animation-scale);
  -moz-transform: var(--animation-scale);
  -ms-transform: var(--animation-scale);
  -o-transform: var(--animation-scale);

  --animation-duration: 700ms;
  transition-duration: var(--animation-duration);
  -webkit-transition-duration: var(--animation-duration);
  -moz-transition-duration: var(--animation-duration);
  -ms-transition-duration: var(--animation-duration);
  -o-transition-duration: var(--animation-duration);
}
.home-company-box:hover > .home-company-box-hover {
  visibility: visible;
  opacity: 1;

  background: rgba(2, 86, 138, 0.75);

  transform: scale(100%);
  -webkit-transform: scale(100%);
  -moz-transform: scale(100%);
  -ms-transform: scale(100%);
  -o-transform: scale(100%);
}

/* 동아리 후면부 */
.home-club-list-page .home-company-box:hover > .home-company-box-hover {
  background: rgba(255, 166, 0, 0.75);
}

/* 반응형 */
@media screen and (max-width: 1000px) {
  .home-company-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .home-company-item {
    width: 100%;
    height: 100px;
  }
  .home-company-cname {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .home-company-box {
    margin-bottom: 2em;
  }
  .home-company-box > .home-company-box-hover {
    font-size: 1.5em;
    padding: 0 1em;
  }
  .home-company-item:nth-child(even) .home-company-box {
    margin-left: auto;
  }

  .home-company-info {
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    top: 50%;
    margin: 0 2rem;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .home-company-item:nth-child(odd) .home-company-info {
    right: 0;
  }
  .home-company-item:nth-child(even) .home-company-info {
    left: 0;
  }

  .home-company-box-front img {
    max-width: 85%;
  }
}
