.main .page-header {
  position: relative;
  padding: 2rem;

  background: url("../../assets/main-background.svg") center center no-repeat;
  background-size: cover;
}

.main .page-header .page-title {
  position: absolute;
  right: 17%;
  top: 50%;

  width: fit-content;

  color: white;
  text-align: right;
  text-shadow: 1px 1px 6px black;
  word-break: keep-all;

  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.main .page-header .page-title::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(10deg);
  -webkit-transform: translate(-50%, -50%) rotate(10deg);
  -moz-transform: translate(-50%, -50%) rotate(10deg);
  -ms-transform: translate(-50%, -50%) rotate(10deg);
  -o-transform: translate(-50%, -50%) rotate(10deg);

  width: 45rem;
  max-width: 112vw;
  height: 30rem;

  background: url("../../assets/title-background.svg") center center no-repeat;
  background-size: 100%;
}

.main .page-header-intro {
  position: absolute;
  left: 0;
  bottom: 20%;

  width: 100%;

  font-family: black-gothic;
  font-size: 2em;
  text-align: center;
  word-break: keep-all;
}

/* 기업 리스트 */
.home-company-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 1em;
  row-gap: 2em;
}
.home-company-item {
  position: relative;
  min-height: 200px;
}

/* 기업 네모 상자 */
.home-company-item .home-company-box {
  --border-radius: 0.5rem;

  width: 100%;
  height: 100%;

  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);

  transition-duration: 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;

  perspective: 300px;
}
.home-company-box > .home-company-box-front,
.home-company-box > .home-company-box-hover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: var(--border-radius);
}
/* 전면부 */
.home-company-box > .home-company-box-front {
  visibility: visible;
}
.home-company-box:hover > .home-company-box-front {
  /* visibility: hidden; */
}
/* 후면부 */
.home-company-box > .home-company-box-hover {
  visibility: hidden;
  opacity: 0;

  color: white;
  font-family: black-gothic;
  font-size: 3em;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 16%);

  transform: scale(50%);
  -webkit-transform: scale(50%);
  -moz-transform: scale(50%);
  -ms-transform: scale(50%);
  -o-transform: scale(50%);

  transition-duration: 800ms;
}
.home-company-box:hover > .home-company-box-hover {
  visibility: visible;
  opacity: 1;

  background: rgba(2, 86, 138, 0.8);

  transform: scale(100%);
  -webkit-transform: scale(100%);
  -moz-transform: scale(100%);
  -ms-transform: scale(100%);
  -o-transform: scale(100%);
}

/* 반응형 */
@media screen and (max-width: 1000px) {
  .home-company-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .main .page-header {
    padding: 0;
  }
  .main .page-header .page-title {
    left: 50%;
    padding: 2rem;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }

  .home-company-list {
    grid-template-columns: 1fr;
  }

  .home-company-item {
    width: 100%;
  }
  .home-company-cname {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .home-company-box {
    margin-bottom: 2em;
  }
  .home-company-item:nth-child(even) .home-company-box {
    margin-left: auto;
  }

  .home-company-info {
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    top: 50%;
    margin: 0 2rem;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .home-company-item:nth-child(odd) .home-company-info {
    right: 0;
  }
  .home-company-item:nth-child(even) .home-company-info {
    left: 0;
  }
}
