.detail-header .page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  /* background-color: var(--color-dark-blue); */
}

.detail-header .page-title {
  position: relative;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 6px black;

  animation: deatil-header-title-move-up 1s ease-out;
  -webkit-animation: deatil-header-title-move-up 1s ease-out;
  -moz-animation: deatil-header-title-move-up 1s ease-out;
  -ms-animation: deatil-header-title-move-up 1s ease-out;
  -o-animation: deatil-header-title-move-up 1s ease-out;
}
@keyframes deatil-header-title-move-up {
  0% {
    padding-top: 3em;
    opacity: 0;
  }
  100% {
    padding-top: 0;
    opacity: 1;
  }
}

.detail-header .page-title .subtitle {
  position: relative;
  width: fit-content;

  padding: 0 0.5em;
  margin: 0 auto 1em auto;
  font-family: logo;
}

/* 소제목 hover 시 밑줄 */
.detail-header .page-title .subtitle::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -0.4em;

  width: 0;
  height: 2px;

  border-radius: 10em;
  opacity: 1;
  background-color: white;

  --animatin-duration: 300ms;
  transition: all var(--animatin-duration) ease-out;
  -webkit-transition: all var(--animatin-duration) ease-out;
  -moz-transition: all var(--animatin-duration) ease-out;
  -ms-transition: all var(--animatin-duration) ease-out;
  -o-transition: all var(--animatin-duration) ease-out;
}
.detail-header .page-title .subtitle:hover::after {
  content: "";
  width: 100%;
}
/* 소제목 hover 시 화살표 */
.detail-header .page-title .subtitle .page-title-go-back-home-arrow {
  width: 0 !important;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;

  --animatin-duration: 300ms;
  transition: all var(--animatin-duration) ease;
  -webkit-transition: all var(--animatin-duration) ease;
  -moz-transition: all var(--animatin-duration) ease;
  -ms-transition: all var(--animatin-duration) ease;
  -o-transition: all var(--animatin-duration) ease;
}
.detail-header .page-title .subtitle:hover .page-title-go-back-home-arrow {
  font-size: 1em;
  opacity: 1;
  visibility: visible;
}

/* 배너 배경 */
.detail-header .background {
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
}
.detail-header .background::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;

  background: black;
  background: linear-gradient(
    0deg,
    rgba(2, 85, 138, 0) 0%,
    rgba(2, 85, 138, 0.6) 0%,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0) 100%
  );
}
.detail-header .background img {
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

/* 이전/이후 */
.detail-header .page-header-down-float {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.detail-header .page-header-down-float > * {
  width: 33%;
  text-align: center;
}
.detail-header .page-header-down-float .go-sibling {
  position: relative;
  width: fit-content;
  font-size: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.detail-header .page-header-down-float .middle-btn {
  width: 100%;
}
.detail-header .page-header-down-float .go-sibling:first-child {
  margin-right: auto;
}
.detail-header .page-header-down-float .go-sibling:first-child::after {
  right: 0;
}
.detail-header .page-header-down-float .go-sibling:last-child {
  margin-left: auto;
}
.detail-header .page-header-down-float .go-sibling:last-child::after {
  left: 0;
}
.detail-header .page-header-down-float .go-sibling::after {
  content: "";

  position: absolute;
  bottom: -0.4em;

  width: 0;
  height: 2px;

  border-radius: 10em;
  opacity: 1;
  background-color: white;

  --animatin-duration: 300ms;
  transition: all var(--animatin-duration) ease-out;
  -webkit-transition: all var(--animatin-duration) ease-out;
  -moz-transition: all var(--animatin-duration) ease-out;
  -ms-transition: all var(--animatin-duration) ease-out;
  -o-transition: all var(--animatin-duration) ease-out;
}
.detail-header .page-header-down-float .go-sibling:hover::after {
  content: "";
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .detail-header .background img {
    max-width: none !important;
    max-height: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  .detail-header .page-header-down-float {
    width: 100%;
    padding: 0 1rem;
  }
}
