.not-open .page-inner {
  padding: 4rem 1rem;
}

.not-open .dday {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;

  font-size: 40px;
  font-family: logo, noto-sans-bold;
}
.not-open .dday > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 80px;
  min-height: 80px;
  padding: 20px 10px;
  margin: 5px;

  color: white;
  background-color: var(--color-dark-gray);
  border-radius: 0.5em;
}
