footer {
  padding: 2rem;
  font-size: 0.8em;
  font-family: noto-sans-light;
}

.footer-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-bottom: 2em;
}
.footer-logos * {
  word-break: keep-all;
}
.footer-logos-wrapper {
  display: flex;
  align-items: center;
  margin: 0 1em;
}
.footer-logos-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-logos-items img {
  width: auto;
  height: 40px;
  margin: 0 0.5em;
}

@media screen and (max-width: 700px) {
  .footer-logos {
    justify-content: flex-start;
  }
  .footer-logos-wrapper {
    margin: 0;
    align-items: flex-start;
  }
  .footer-logos-label {
    margin-top: 1em;
  }
}
