.event {
  color: white;
  background-color: black;
}
.event-info-container {
  padding-top: 0 !important;
  padding-bottom: 2rem !important;
}

.event .page-header {
  color: white;
  background-color: black;
}
.event .page-title {
  text-align: center;
  line-height: 1.5em;
}

.event .page-title .logo {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 230px;
}

.event .title {
  width: fit-content;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  font-family: logo;
}

.event .subtitle {
  font-size: 1.2rem;
  font-family: noto-sans-bold;
}

.event .content {
  font-size: 1rem;
}

.event .comment {
  font-size: 0.8rem;
  color: var(--color-gray);
}

.event-wrapper > li {
  padding: 3rem 0;
  border-bottom: 1px dotted white;
}
.event-wrapper > li:first-child {
  padding-top: 0;
}

.event-wrapper .button {
  height: 200px;
  margin-top: 1em;
  background: var(--color-dark-blue);
}

.event .guest-comment-event-type,
.event .guest-comment-event-type > div {
  display: flex;
  align-items: center;
}

.event .guest-comment-event-type label {
  margin: 0 0.5em;
}
.event .guest-comment-event-type > div {
  margin-right: 1em;
}

@media screen and (max-width: 700px) {
  .event .title {
    line-height: 1.2em;
  }
}
