.page-title {
  font-family: gong-gothic;
  /* font-family: black-gothic; */
  font-size: 2.2em;
}

.title {
  font-size: 1.5em;
}
.subtitle {
  font-size: 0.7em;
}
.section-title {
  text-align: center;
  font-size: 2em;
}
.section-title .subtitle {
  font-family: noto-sans-ultra-light;
}

.inner-padding .page-inner,
.inner-padding > *:not(.page) {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.font-light {
  font-family: noto-sans-light;
}
.font-ultra-light {
  font-family: noto-sans-ultra-light;
}

.no-display {
  display: none;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 8px;
  opacity: 0.8;
}
/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-blue);
  border-radius: 10rem;
}
/* 스크롤바 여백 */
::-webkit-scrollbar-track {
  background-color: var(--color-gray);
}

@media screen and (max-width: 700px) {
  .only-browser {
    display: none !important;
  }
}
