.page-title {
  font-family: black-gothic;
  font-size: 3em;
}

.title {
  font-size: 1.5em;
}
.subtitle {
  font-size: 0.7em;
}

.section-title {
  text-align: center;
  font-size: 2em;
}
.section-title::after {
  /* border: 1px solid black; */
}

.inner-padding .page-inner,
.inner-padding > *:not(.page) {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.font-light {
  font-family: noto-sans-light;
}

.no-display {
  display: none;
}
