#alert-modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 300px;
  padding: 2rem;

  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.2);
}

#alert-modal .content {
  margin-top: 0.5em;
}
#alert-modal button {
  width: 100%;
  height: 3rem;
  margin-top: 1em;

  color: white;
  font-size: 1em;

  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-gray);

  border-radius: 10rem;

  cursor: pointer;
  transition: background 300ms;
  -webkit-transition: background 300ms;
  -moz-transition: background 300ms;
  -ms-transition: background 300ms;
  -o-transition: background 300ms;
}
#alert-modal button:hover {
  background: var(--color-light-blue);
}
