.company .page-header {
  position: relative;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);
}

.company .page-header .page-title {
  position: relative;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 6px black;

  animation: company-title-move-up 1s ease-out;
  -webkit-animation: company-title-move-up 1s ease-out;
  -moz-animation: company-title-move-up 1s ease-out;
  -ms-animation: company-title-move-up 1s ease-out;
  -o-animation: company-title-move-up 1s ease-out;
}
@keyframes company-title-move-up {
  0% {
    padding-top: 3em;
    opacity: 0;
  }
  100% {
    padding-top: 0;
    opacity: 1;
  }
}

.company .page-header .page-title .subtitle {
  position: relative;
  width: fit-content;

  padding: 0 0.5em;
  margin: 0 auto 1em auto;
  font-family: noto-sans-light;
}
/* 소제목 hover 시 밑줄 */
.company .page-header .page-title .subtitle::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -0.4em;

  width: 0;
  height: 3px;

  border-radius: 10em;
  opacity: 1;
  background-color: white;

  --animatin-duration: 300ms;
  transition: all var(--animatin-duration) ease-out;
  -webkit-transition: all var(--animatin-duration) ease-out;
  -moz-transition: all var(--animatin-duration) ease-out;
  -ms-transition: all var(--animatin-duration) ease-out;
  -o-transition: all var(--animatin-duration) ease-out;
}
.company .page-header .page-title .subtitle:hover::after {
  content: "";
  width: 100%;
}
/* 소제목 hover 시 화살표 */
.company .page-header .page-title .subtitle .page-title-go-back-home-arrow {
  width: 0 !important;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;

  --animatin-duration: 300ms;
  transition: all var(--animatin-duration) ease;
  -webkit-transition: all var(--animatin-duration) ease;
  -moz-transition: all var(--animatin-duration) ease;
  -ms-transition: all var(--animatin-duration) ease;
  -o-transition: all var(--animatin-duration) ease;
}
.company
  .page-header
  .page-title
  .subtitle:hover
  .page-title-go-back-home-arrow {
  font-size: 1em;
  opacity: 1;
  visibility: visible;
}

/* 배너 배경 */
.company-banner-background {
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
}
.company-banner-background::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;

  background: black;
  background: linear-gradient(
    0deg,
    rgba(2, 85, 138, 0) 0%,
    rgba(2, 85, 138, 0.6) 0%,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0) 100%
  );
}
.company-banner-background img {
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

/* 아직 준비 안된 기업 */
.company-not-ready {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .company-banner-background img {
    max-width: none !important;
    max-height: 100% !important;
  }
}
