.company .page-header {
  position: relative;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);
}

.company .page-header .page-title {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 6px black;
}
.company .page-header .page-title .subtitle {
  position: relative;
  width: fit-content;

  padding: 0 0.5em;
  margin: 0 auto 1em auto;
  font-family: noto-sans-light;
}
/* 소제목 hover 시 밑줄 */
.company .page-header .page-title .subtitle::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -0.4em;

  width: 0;
  height: 3px;

  border-radius: 10em;
  opacity: 0.5;
  background-color: white;

  --animatin-duration: 300ms;
  transition: all var(--animatin-duration) ease-out;
  -webkit-transition: all var(--animatin-duration) ease-out;
  -moz-transition: all var(--animatin-duration) ease-out;
  -ms-transition: all var(--animatin-duration) ease-out;
  -o-transition: all var(--animatin-duration) ease-out;
}
.company .page-header .page-title .subtitle:hover::after {
  content: "";

  width: 100%;
}
/* 소제목 hover 시 화살표 */
.company .page-header .page-title .subtitle .page-title-go-back-home-arrow {
  width: 0 !important;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;

  --animatin-duration: 300ms;
  transition: all var(--animatin-duration) ease;
  -webkit-transition: all var(--animatin-duration) ease;
  -moz-transition: all var(--animatin-duration) ease;
  -ms-transition: all var(--animatin-duration) ease;
  -o-transition: all var(--animatin-duration) ease;
}
.company
  .page-header
  .page-title
  .subtitle:hover
  .page-title-go-back-home-arrow {
  font-size: 1em;
  opacity: 1;
  visibility: visible;
}

/* 배너 배경 */
.company-banner-background {
  position: absolute;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
}
.company-banner-background::before {
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;

  background: black;
  background: linear-gradient(
    0deg,
    rgba(2, 85, 138, 0) 0%,
    rgba(2, 85, 138, 0.6) 0%,
    rgba(0, 0, 0, 0) 35%,
    rgba(0, 0, 0, 0) 100%
  );
}
.company-banner-background img {
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

/* 아직 준비 안된 기업 */
.company-not-ready {
  text-align: center;
}

/* 기업 로고 */
.company-intro-logo {
  height: 4em;
}
.company-intro-logo img {
  width: auto;
  height: 100%;
}

/* 기업 태그들 */
.company-tags > span {
  margin-right: 1em;
}

/* 기업소개 */
.company-intro {
  text-align: center;
}

/* 질의응답 */
.company-interview-wrapper {
  --background-color: white;

  padding: 1.2em;
  margin-bottom: 1em;

  background-color: var(--background-color);

  border: 1px solid var(--color-dark-blue);
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px 0px rgb(0 0 0 / 10%);
}
.company-interview-wrapper:hover {
  margin: -0.5em 0 1.5em 0;
}

.company-interview-question,
.company-interview-answer {
  display: flex;
}
.company-interview-answer {
  margin-top: 1em;
  font-family: noto-sans-light;
}
.company-interview-content {
  position: relative;
  z-index: 10;
  margin-top: 0.4rem;
}

/* 질의응답 : Q or A */
.company-interview-type {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-right: 0.4em;

  font-size: 2rem;
  font-family: black-gothic;
}
.company-interview-type::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 120%;
  z-index: 0;

  width: 1.2em;
  height: 0.5em;
  border-top: 0.5px solid var(--color-dark-blue);

  --rotate-deg: -45deg;
  transform: translateX(-50%) rotate(var(--rotate-deg));
  -webkit-transform: translateX(-50%) rotate(var(--rotate-deg));
  -moz-transform: translateX(-50%) rotate(var(--rotate-deg));
  -ms-transform: translateX(-50%) rotate(var(--rotate-deg));
  -o-transform: translateX(-50%) rotate(var(--rotate-deg));
}
.company-interview-question .company-interview-type::after {
  background-color: var(--background-color);
}
.company-interview-answer .company-interview-type::after {
  background-color: white;
}

/* 상단 유튜브 + 큰 사진 컨테이너 */
.company-pictures-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;

  width: 100%;
  height: 400px;
  margin-bottom: 1em;
}
/* 사진이 없는 경우 */
.only-youtube {
  grid-template-columns: 1fr;
  width: 800px;
  height: 450px;
  margin: 0 auto;
}

/* 상단 큰 사진 */
.company-pictures-wrapper .company-picture {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  overflow: hidden;
  background-color: black;
}
.company-pictures-wrapper .company-picture img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-height: 100%;

  animation: fadeIn 500ms ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 유튜브 */
.company-youtube-wrapper {
  width: 100%;
  height: 100%;
}
.company-youtube-wrapper .youtube-player {
  width: 100%;
  height: 100%;
}
.company-youtube-wrapper .youtube-player-error {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-gray);
  border-radius: 0.5em;
}

/* 하단 슬라이드쇼 */
.company-picture-slide-wrapper {
  width: 100%;
  overflow: auto hidden;
}
/* 스크롤바 */
.company-picture-slide-wrapper::-webkit-scrollbar {
  height: 8px;
  opacity: 0.8;
}
/* 스크롤바 막대 */
.company-picture-slide-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-blue);
  border-radius: 10rem;
}
/* 스크롤바 여백 */
.company-picture-slide-wrapper::-webkit-scrollbar-track {
  background-color: var(--color-gray);
  border-radius: 10rem;
}

.company-picture-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;

  min-width: 100%;
  width: max-content;
  height: fit-content;

  white-space: nowrap;
}
.company-picture-slide .company-picture {
  height: 150px;
  margin-right: 0.5em;
  cursor: pointer;

  opacity: 1;

  --animation-duration: 300ms;
  transition: all var(--animation-duration);
  -webkit-transition: all var(--animation-duration);
  -moz-transition: all var(--animation-duration);
  -ms-transition: all var(--animation-duration);
  -o-transition: all var(--animation-duration);
}
.company-picture-slide .company-picture:hover {
  opacity: 0.7;
}
.company-picture-slide .company-picture img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
/* 도움말 */
.company-picture-slide-helper {
  font-size: 0.85em;
}

/* 방명록 */
.guest-comment-enroll {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  width: 100%;
  height: 3em;

  padding: 0 1em;
  position: relative;

  border: 1px solid var(--color-gray);
  border-radius: 10em;
}
.guest-comment-enroll input {
  width: 100%;
  height: 100%;

  padding: 0.8em;
  font-size: 1em;
  border: none;
  background: none;
}
.guest-comment-enroll input:focus {
  outline: none;
}
.guest-comment-enroll-btn {
  color: gray;
  font-size: 1.2em;
  border: none;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .company-banner-background img {
    max-width: none !important;
    max-height: 100% !important;
  }
}

@media screen and (max-width: 700px) {
  .company-pictures-wrapper {
    grid-template-columns: 1fr;
    height: auto;
    margin-bottom: 0;
  }

  .company-pictures-wrapper .company-picture,
  .company-youtube-wrapper {
    height: 200px;
  }
  .company-youtube-wrapper {
    margin-bottom: 1em;
  }
  .company-pictures-wrapper .company-picture {
    border-bottom: 0.5em solid var(--color-gray);
  }
  .company-pictures-wrapper .company-picture img {
    width: 100%;
    height: 100%;
  }
}
