/* 기업소개 */
.company-intro .intro-text {
  text-align: center;
  word-break: keep-all;
}

.company-intro .card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}
.company-intro .card-item {
  width: 100%;
  height: 100%;

  margin: 0 auto;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  word-break: keep-all;

  border: 1px solid var(--color-gray);
  border-radius: 0.5em;

  background-color: white;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.3);
}

.company-intro .card-item:hover {
  margin-top: -5px;
  margin-bottom: 5px;
  background-color: var(--color-light-blue3);
}
.company-intro .card-item:first-child {
  justify-content: center;
  color: white;
  background-color: var(--color-dark-blue);
}

.company-intro .card-item-title {
  font-family: noto-sans-ultra-bold;
  margin-bottom: 0.5em;
}
.company-intro .card-item-content {
  /* font-family: noto-sans-light; */
}
.company-intro .company-logo img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}
.company-intro .card-item .more-info {
  /* font-family: noto-sans-light; */
}
.company-intro .card-item .more-info:hover {
  font-family: noto-sans-ultra-bold;
}

/* 유튜브 */
.company-interview-page {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: none !important;
}
.company-interview-page > * {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}
.company-youtube-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.company-youtube-wrapper .youtube-player {
  width: 100%;
  height: 600px;
  border-radius: 0.5em;
  /* border: 0.5em solid white; */
}
.company-youtube-wrapper .youtube-player-error {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-gray);
  border-radius: 0.5em;
}

/* 갤러리 */
.company-pictures-page {
  padding: 4rem 0 !important;
  max-width: none !important;
}
.company-pictures-page > .section-title {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}
/* 상단 큰 사진 */
.company-picture-big {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: calc(100% - 4rem);
  max-width: 1280px;
  height: 400px;

  margin: 0 auto 1em auto;
  overflow: hidden;
}
.company-picture-big img {
  width: auto;
  max-width: 100%;
  height: 100%;

  border-radius: 0.5em;
  /* border: 0.5em solid white; */
}

/* 슬라이드쇼 */
.company-picture-slide-wrapper {
  width: 100%;
  height: max-content;
  overflow: auto hidden;
}
/* 스크롤바 없애기*/
.company-picture-slide-wrapper::-webkit-scrollbar {
  display: none;
}

.company-picture-slide {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  width: max-content;

  white-space: nowrap;

  padding: 0.5em 0;
  /* background-color: white; */
}
.company-picture-slide > .company-picture {
  height: 150px;
  margin-right: 0.5em;
  cursor: pointer;

  --animation-duration: 300ms;
  transition: all var(--animation-duration);
  -webkit-transition: all var(--animation-duration);
  -moz-transition: all var(--animation-duration);
  -ms-transition: all var(--animation-duration);
  -o-transition: all var(--animation-duration);
}
.company-picture-slide > .company-picture:first-child {
  margin-left: 0.5em;
}
.company-picture-slide > .company-picture:hover {
  opacity: 0.7;
}
.company-picture-slide > .company-picture img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;

  object-fit: cover;

  border-radius: 0.3em;
  /* border: 0.3em solid white; */
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
/* 도움말 */
.company-picture-slide-helper {
  font-size: 0.85em;
  padding: 0 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .company-youtube-wrapper {
    padding: 0;
  }
  .company-youtube-wrapper .youtube-player {
    border-radius: 0;
  }
}
@media screen and (max-width: 1100px) {
  .company-intro .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .company-youtube-wrapper .youtube-player {
    height: 500px;
  }
}
@media screen and (max-width: 700px) {
  .company-intro {
    flex-direction: column;
  }
  .company-intro-left,
  .company-intro-right {
    width: 100%;
  }

  .company-intro .intro-text p br {
    display: none !important;
  }

  .company-tag {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .company-tag > div {
    margin: 0 0.4em;
  }

  .company-picture-big {
    width: 100%;
    height: 300px;
  }
  .company-picture-big img {
    height: auto;
    max-height: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 600px) {
  .company-intro .card-wrapper {
    grid-template-columns: 1fr;
  }
  .company-youtube-wrapper .youtube-player {
    height: 300px;
  }
}
